
#start,#status,#restart
{
font-size:22px;
}

canvas{
    border:3px solid white;
    border-radius:20px;
}

.heading{
width: 100%;
text-align: left;
}

.heading button{
    float:right;
    border:1px solid;
}











